@{
    ViewData["Title"] = "Home Page";
}
<style>
    .text-center
    {
        margin-top : 50px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome To My application Texting Game</h1>
  @*  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
  <p>It's a fun game Enjoy</p>
</div>
